html, :root{
  margin: 0;
  padding: 0;
}

.diagram-component {
  width: 800px;
  height: 600px;
  border: solid 1px black;
  background-color: white;
}

canvas { 
  border:0;
  display:flex;
  margin:0 auto;
  background-color:azure;
}

.room {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(48, 48, 48); */
}

.info {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  user-select: none;
}

.cursor {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 35px;
  height: 35px;
  pointer-events: none;
}

.text-editor{
  position: relative;
  height:100%
}
.editor{
  height: 100%;
}